<p-toast/>
<div class="container">
  <h1>Inicio de Sesión</h1>
  <p>Esta es una demostración del sistema utilizando el entorno de prueba de 'Empresa Zap'.</p>
  <p *ngIf="empresaZapExists">
    <p-button (click)="navigateToDocuments()" label="Comenzar Demo"></p-button>
  </p>
  <div *ngIf="apiTokenInputVisible" class="form-group">
    <label for="api_token" class="form-label">Ingrese su API Token</label>
    <input
      pInputText
      id="api_token"
      [(ngModel)]="apiToken"
      class="form-input"
    />
    <p-button label="Enviar Token" (click)="submitApiToken()"></p-button>
  </div>
</div>
